.robo-cards {
    display: flex;
    flex-direction: column;
    background-color: rgb(144, 238, 214);
    border-radius: 3%;
    padding: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
    
    width: 18rem;
    height: 24rem;
}

.robo-cards:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 10px 1px rgb(8, 8, 8);

}